{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Author</th>
      <th>Book</th>
      <th>Review</th>
      <th>Stars</th>
      <th></th>
    </tr>
    {% for review in reviews %}
    <tr>
      <td>{{ review.name }}</td>
      <td>{{ review.book_name }}</td>
      <td>{{ review.review }}</td>
      <td>{{ review.stars }}</td>
      <td>
        <form method="GET" action="{{ url_for('reviews_modify', review_id=review.id) }}">
          <input type="submit" value="Modify"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
