{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container">
  <form method="POST" action="{{ url_for('reviews_create') }}">
    <div class="form-row">
      <div class="form-group col-md-6">
        {{ wtf.form_field(form.author, class="form-control", placeholder="Author") }}
      </div>
      <div class="form-group col-md-6">
        {{ wtf.form_field(form.name, class="form-control", placeholder="Book") }}
      </div>
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.review, id="review", class="form-control", rows="4", cols="50", placeholder="Write your review here...") }}
    </div>
    <figcaption id="charactersRemaining" class="figure-caption text-right">400</figcaption>
    <div class="form-group">
      {{ wtf.form_field(form.stars, class="form-control") }}
      </div>
    <input type="submit" class="btn btn-primary" value="Add a new review" />
  </form>
  <script src="{{url_for('static', filename='textcounter.js')}}"></script>
</div>

{% endblock %}
