{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="container">
    <form method = "POST" action = "{{ url_for('auth_login') }}" >
        <div>
            {{ wtf.form_field(form.username, class="form-control") }}
        </div>
        <div>
            {{ wtf.form_field(form.password, class="form-control") }}
        </div>
        {{ error }}
        <div>
            <input type = "submit" class="btn btn-primary" value = "Login" />
        </div>
    </form>
</div>

{% endblock %}