{% extends "layout.html" %}

{% block body %}

<div>
  <form method="GET" action="{{ url_for('read_form') }}">
      <input type="submit" class="btn btn-secondary" value="Add book to the list"/>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Book</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for book in books %}
          <tr>
              <td>{{ book.author }}</td>
              <td>{{ book.book }}</td>
              <td>
                <div class="btn-group btn-group-sm" role="group" arial-label="Basic example">
                  <form method="POST" action="{{ url_for('read_set_read', read_id=book.id) }}">
                      <input type="submit" class="btn btn-secondary" value="Set as read"/>
                  </form>
                  <form method="POST" action="{{ url_for('read_delete', read_id=book.id) }}">
                    <input type="submit" class="btn btn-secondary" value="Delete from list"/>
                  </form>
                </div>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}